<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>About-Us</title>
</head>

<body>
    <div class="about-section">
        <h1>About Us </h1>
        <p>Udaan is a step which we initiated for the welfare of child.</p>
        <p> We as a team here are for the assistance of the ones who needs safety and welfare of children.</p>
        <a href="/home">Home</a>

    </div>

    <h2 class="cards-heading">Our Team</h2>
    <div class="cards-section">
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/img/about-us/apurva.jpeg" alt="Apurva" style="width:100%">
                    <div class="container">
                        <h2>Apurva Chauhan</h2>
                        <p class="title">Frontend Developer</p>
                        <p>My name is Apurva.I have contributed to the frontend & backend of this website.</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/img/about-us/poster.png" alt="girl" style="width:100%">
                    <div class="container">
                        <h2>Udaan</h2>
                        <p class="title">Foundation</p>
                        <p>We as a team contribute for the saftey of child and to help them live happy life.</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>



        </div>

        <div>
            <!--space-->
        </div>

        <h2 class="form-heading">Contact Us</h2>
        <section id="contact">
            <div class="contact-box">
                <div class="contact-links-updated">
                    <h2 class="head">CONTACT</h2>
                    <div class="links-updated">
                        <div class="link-updated">
                            <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin" class="icon"></a>
                        </div>
                        <div class="link-updated">
                            <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github" class="icon"></a>
                        </div>
                        <div class="link-updated">
                            <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email" class="icon"></a>
                        </div>
                    </div>
                </div>
                <div class="contact-form-wrapper">
                    <form action="/home/submitQuery" method="post">
                        <div class="form-item">
                            <input type="text" name="name" required>
                            <label>Name:</label>
                        </div>
                        <div class="form-item">
                            <input type="text" name="email" required>
                            <label>Email:</label>
                        </div>
                        <div class="form-item">
                            <textarea class="" name="message" required></textarea>
                            <label>Message:</label>
                        </div>
                        <button class="submit-btn" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </section>

        <footer>
            <p>Foundation: &nbsp;Udaan<br>
            <p> Thank You , for trusting us.</p>
        </footer>
</body>

</html>